
.bottombar {
  position: absolute;
  display: flex;
  bottom: 0;

  width: 100%;
  height: 30px;

  z-index: 3000;
}

.bottombar-inner {
  display: flex;
  align-items: center;
  padding: 0 var(--space-3);
}
